<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    {% block head %}
    <title>Site Web > {% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>

<section>
    <nav class="navbar navbar-expand-lg navbar-info bg-info">
            <div class="container">
                <a class="navbar-brand" href="/">Accueil</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link" href="/ws/list">Serveurs Web</a></li>
                        <li class="nav-item"><a class="nav-link" href="/rp/list">Reverse Proxies</a></li>
                        <li class="nav-item"><a class="nav-link" href="/lb/list">Load Balancers</a></li>
                        <li class="nav-item"><a class="nav-link" href="/list_all">Récap</a></li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/login">Connexion</a></li>
                    </ul>
                </div>
            </div>
    </nav>
</section>
 

    <section>
        <div class="container">
            <div class="row">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('start') }}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ self.title() }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        {% block content %}{% endblock %}
    </section>
    <footer>
        <nav class="navbar fixed-bottom navbar-light bg-light">
            <div class="container-fluid">
                Copyright by Mahamat Abakar Abdoulaye
            </div>
        </nav>
    </footer>

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.js') }}"></script>
</body>

</html>