{% extends "layout.html" %}
{% block content %}
<h2 class="mb-4">Récapitulatif de l'infrastructure</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Serveurs Web</div>
            <div class="card-body">
                <h5 class="card-title">{{ ws_list|length }} config(s)</h5>
                <a href="/ws/list" class="text-white">Voir les détails</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Reverse Proxies</div>
            <div class="card-body">
                <h5 class="card-title">{{ rp_list|length }} config(s)</h5>
                <a href="/rp/list" class="text-white">Voir les détails</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-warning mb-3">
            <div class="card-header">Load Balancers</div>
            <div class="card-body">
                <h5 class="card-title">{{ lb_list|length }} config(s)</h5>
                <a href="/lb/list" class="text-white">Voir les détails</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}